* {
    box-sizing: border-box;
}

form {
    margin-bottom: 15px;
}

input {
    margin: 5px auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main {
    width: fit-content;
    margin: 0 auto;
}

.search {
    max-width: 1440px;
    margin: 0 auto 20px;
}

.input_error {
    border-color: red;
}

.student-list__item {
    display: grid;
    grid-template-columns: repeat(4, minmax(1px, 1fr));
    word-wrap: break-word;
    text-align: center;
}

.sort-panel__element {
    padding: 15px 0px;
    font-size: 22px;
    background-color: rgba(206, 203, 203, 0.623);
    border: 1px solid green;
}

.student__info {
    padding: 8px 0px;
    border: 1px solid green;
}